<%= form_for(@story) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Title" %>
    <%= f.text_area :content, placeholder: "Write a new story..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
