<section id="blog">
  <div class="container text-center wow fadeIn">
    <h2>Stories</h2>
    <hr class="colored">
    <p>Here is a random sample of three stories Don wrote</p>

    <% @stories.each do |story| %>
    <div class="row panel panel-default">
    <div class="panel-body">
      <div class="col-md-5">
        <div >
          <% if Rails.env.development? %>
            <% if story.thumbnail.path != nil %>
            <img src="<%= story.thumbnail_identifier %>" alt="<%= story.id %>">
            <% else %>
            <i class="fa fa-picture-o fa-5x top-margin-15-percent"></i>
            <% end %>
          <% end %>
          <% if Rails.env.production? %>
            <% if story.thumbnail %>
            <img src="<%= asset_path(story.thumbnail) %>" alt="<%= story.id %>">
            <% else %>
            <i class="fa fa-user-circle fa-2x"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-7">
        <div class="caption">
          <h3><%= story.title.html_safe %></h3>
          <p> <%= truncate(story.content.html_safe, length: 125, omission: '...') %> </p>
        </div>
        <div>
          <p><a href=" <%= story_path(story.id) %> " class="btn btn-primary" role="button">Read</a></p>
        </div>
      </div>
      </div>
      <% if story.all_tags != "" %>
      <div class="panel-footer">
        <% story.all_tags.split(",").each do |tag| %>
        <span><%= link_to tag.strip, "/stories/sort?sort=tag&tag=#{tag.strip}", class: "btn btn-primary", role: "button" %></span>
        <% end %>
      </div>
      <% end %>
      
    </div>
    <% end %>

    <a href=" <%= stories_path %> " class="btn btn-success" role="button">Full Blog List</a>
  </div>
</section> 