<section id="blog">
  <div class="container text-center wow fadeIn">
    <h4>Stories</h4>
    <hr class="pageLine">
    <div>
      <a href=" <%= stories_path %> " class="btn btn-default btn-lg buttonDropShadow" id="storiesButton" role="button">Full List</a>
    </div>

    <% @stories.each do |story| %>
    <a href="<%= story_path(story.id) %>" class="blog_links">
      <div class="row panel panel-default box-shadow">
        <div class="panel-body">
          <%# <% if story.thumbnail.path != nil %> %>
          <div class="col-md-5">
            <div>
              <%# <% if Rails.env.development? %> %>
              <%# <%= image_tag(story.thumbnail_identifier, alt: "Thumbnail", class: "img-responsive center-picture") %> %>
              <%# <% end %> %>
              <%# <% if Rails.env.production? %> %>
              <%# <%= image_tag(story.thumbnail_url(:story_thumb), alt: "Thumbnail", class: "img-responsive center-picture") %> %>
              <%# <% end %> %>
              <% if story.picture.attached? %>
                <%= image_tag story.picture, alt: "Thumbnail", class: "img-responsive center-picture" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-7">
            <div class="caption black">
              <h3 class="MajestiBannerBookPartial"><%= story.title.html_safe %></h3>
              <div class="MajestiBannerBookParaPartial text-left">
                <%= truncate(story.content.html_safe, length: 200, omission: '...', escape: false) %>
              </div>
            </div>
          </div>
          <%# <% else %> %>
          <%# <div class="col-md-12"> %>
            <%# <div class="caption black"> %>
              <%# <h3 class="MajestiBannerBookPartial"><%= story.title.html_safe %></h3> %>
              <%# <p class="MajestiBannerBookParaPartial text-left"> <%= truncate(story.content.html_safe, length: 350, omission: '...', escape: false) </p> %>  %>
            <%# </div> %>
          <%# </div> %>
          <%# <% end %> %>
          <% if story.word_count != nil %>
          <div class="col-md-12">
            <div class="float-right black">
              <p class="MajestiBannerBookPartial">Word Count: <%= story.word_count %></p>
            </div>
          </div>
          <% end %>
        </div>

        <% if story.all_tags != "" %>
        <div class="panel-footer">
          <% story.all_tags.split(",").each do |tag| %>
          <span><%= link_to tag.strip, "/stories/sort?sort=tag&tag=#{tag.strip}", class: "btn btn-primary", role: "button" %></span>
          <% end %>
        </div>
        <% end %>

      </div>
    </a>
    <% end %>
  </div>
</section> 