<section id="blog">
    <div class="container text-center wow fadeIn">
        <h2>Stories</h2>
        <hr class="colored">
        <p>My Grandfather wrote stories. Here are three random ones for you to read.</p>
        <div class="row">
            <% @stories.each do |story| %>
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <img src="<%= asset_path(story.thumbnail) %>" alt="<%= story.id %>">
                  <div class="caption">
                    <h3><%= story.title %></h3>
                    <p> <%= story.category %> </p>
                    <p><a href=" <%= story_path(story.id) %> " class="btn btn-primary" role="button">Read</a></p>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
    <a href=" <%= stories_path %> " class="btn btn-success" role="button">Full Blog List</a>
    </div>
</section> 