
<section id="admin_stories">

  <div class="container-fluid text-center">

    <h1>Stories</h1>
    <p>You can click into fields to edit values. You will see the cell turn green if you have sucessfully updated it.</p>
    <%= will_paginate @stories %>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year Written</th>
        <th>Age</th>
        <th>Decade</th>
        <th>Category</th>
        <th>Date Created</th>
        <th>Date Updated</th>
      </tr>
      <% @stories.each do |story| %>
      <tr>
      <td><%= story.id %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='title'><%= story.title %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='year_written'><%= story.year_written %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='age'><%= story.age %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='decade'><%= story.decade %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='category'><%= story.category %></td>
        <td><%= story.created_at %></td>
        <td><%= story.updated_at %></td>
      </tr>
      <% end %>
    </table>

  </div>

</section>

