
<section id="admin_stories">

  <div class="container-fluid text-center">

    <h1>Stories</h1>
    <p>You can click into fields to edit values. You will see the cell turn green if you have sucessfully updated it.</p>
    <%= will_paginate @stories %>
    <table class="table table-bordered">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Title</th>
        <th class="text-center">Year Written</th>
        <th class="text-center">Age</th>
        <th class="text-center">Decade</th>
        <th class="text-center">Delete</th>
        <th class="text-center">Date Created</th>
        <th class="text-center">Date Updated</th>
      </tr>
      <% @stories.each do |story| %>
      <tr>
      <td><%= story.id %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='title'><%= story.title %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='year_written'><%= story.year_written %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='age'><%= story.age %></td>
        <td contenteditable='true' storyID='<%= story.id %>' attributeToUpdate='decade'><%= story.decade %></td>
        <td><%= link_to "Delete", story, method: :delete, class: "btn btn-danger",
                                  data: { confirm: "This story took a while to write. Are you sure?" } %></td>
        <td><%= time_ago_in_words(story.created_at) %> ago</td>
        <td><%= time_ago_in_words(story.updated_at) %> ago</td>
      </tr>
      <% end %>
    </table>

  </div>

</section>

