
<section id="admin_users">

  <div class="container-fluid text-center">

    <h1>Users</h1>
    <p>You can make users admins and activate their accounts from this page. You will see the cell turn green if you have sucessfully updated it.</p>
    <%= will_paginate @users%>
    <table class="table table-bordered">
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Name</th>
        <th class="text-center">Email</th>
        <th class="text-center">Admin?</th>
        <th class="text-center">Activated?</th>
        <th class="text-center">Delete</th>
        <th class="text-center">Date Created</th>
        <th class="text-center">Date Updated</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td contenteditable='true' userID='<%= user.id %>' attributeToUpdate='admin'>
          <select name="value" id="tellMe<%= user.id %>">
            <option value="1" <%= "selected" if user.admin? %> >True</option>
            <option value="0" <%= "selected" if !user.admin? %> >False</option>
          </select></td>
          <td contenteditable='true' userID='<%= user.id %>' attributeToUpdate='activated'>
            <select name="value" id="tellMe<%= user.id %>">
              <option value="1" <%= "selected" if user.activated? %> >True</option>
              <option value="0" <%= "selected" if !user.activated? %> >False</option>
            </select>
          </td>
          <td><%= link_to "Delete", user, method: :delete, class: "btn btn-danger",
                                  data: { confirm: "There is no good reason for you to be deleting users. Are you sure?" } %></td>
          <td><%= time_ago_in_words(user.created_at)%> ago</td>
          <td><%= time_ago_in_words(user.updated_at)%> ago</td>
        </tr>
        <% end %>
      </table>

    </div>

  </section>

