<% provide(:title, "Edit Story") %>
<section id="blog_edit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeIn">
            <%= form_for(@story) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div>
                <%= f.label :title %>
                <%= f.trix_editor :title, class: 'form-control' %>
              </div>
              <div>
                <%= f.label :content %>
                <%= f.trix_editor :content, size: "30x10", class: 'form-control make-big' %>
              </div>
              <br/>
              <div>
                <%= f.label :year_written %>
                <%= f.select :year_written, options_for_select((2004..2017).to_a.unshift("None").map {|s| ["#{s}", s]}, @story.year_written), class: 'form-control' %>
              </div>
              <br/>
              <div>
                <%= f.label :decade %>
                <%= f.select :decade, options_for_select((1..9).to_a.unshift("None").map {|s| ["#{s}", s]}, @story.decade), class: 'form-control' %>
              </div>
              <br/>
              <div>
              <%= f.label :genre %>
              <%= f.select :genre, options_for_select([['None', nil], ['Fiction','Fiction'],['Non-Fiction','Non-Fiction']]), class: 'form-control' %>
              </div>
              <br/>
              <div>
              <%= f.label :category %>
              <%= f.select :category, options_for_select([['None', nil], ['Story','Story'],['Poem','Poem'], ['Letter','Letter']]), class: 'form-control' %>
              </div>
              <br/>
              <div>
              <%= f.label :life_stage %>
              <%= f.select :life_stage, options_for_select([['None', nil], ['Early','Early'],['Middle','Middle'], ['Late','Late']]), class: 'form-control' %>
              </div>
              <br/>
              <div>
              <%= f.label :location %>
              <%= f.text_field :location, placeholder: "Enter Location of Story", class: 'form-control' %>
              </div>
              <br/>
              <div>
                <%= f.label :all_tags %>
                <%= f.text_field :all_tags, placeholder: "Tags seperated with comma", class: 'form-control' %>
                <%= f.label "Use this dropdown to see all existing tags (The ones you select will be added to the field)" %>
                <%= collection_select(:all_tags, :counts, Tag.all, :id, :name, prompt: true) %>
              </div>
              <br/>

              </div>
              <br/>

              <% if @story.thumbnail %>
              <div>
                <h5>If you want to change this thumbnail:</h5>
                <%= image_tag(@story.thumbnail) %>
                <h5>Upload a new one below</h5>
                
              </div>
              <% end %>

              <div class="picture">
                <%= f.file_field :thumbnail %>
              </div>

              <div class="text-center">
                <%= f.submit "Update Story", class: "btn btn-default btn-lg buttonDropShadow", id: "updateStoryButton" %>
              </div>
            <% end %>            
              <div class="text-center top-margin-1-percent">
                <%= link_to "Cancel", story_path(@story.id), class: "btn btn-default btn-lg buttonDropShadow", role: "button" %>
              </div>
            </div>
        </div>
    </div>
</section> 