<section id="blog_edit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 wow fadeIn">
            <%= form_for(@story) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <%= f.label :title %>
              <%= f.trix_editor :title, class: 'form-control' %>

              <%= f.label :content %>
              <%= f.trix_editor :content, class: 'form-control make-big' %>

              <%= f.label :year_written %>
              <%= f.text_field :year_written, class: 'form-control' %>

              <%= f.label :category %>
              <%= f.text_field :category, class: 'form-control' %>

              <%= f.label :decade %>
              <%= f.text_field :decade, class: 'form-control' %>

              <%= f.label :age %>
              <%= f.text_field :age, class: 'form-control' %>

              <%= f.label :thumbnail %>
              <%= f.text_field :thumbnail, class: 'form-control' %>

              <%= f.submit "Update Story", class: "btn btn-primary" %>
            <% end %>
            </div>
        </div>
    </div>
</section> 