<section id="blog_full">

  <!-- Flash Section -->
  <% if !flash.empty? %>
  <%= render 'shared/flash' %>
  <% end %>

  <div class="container-fluid text-center">

    <div class="btn-group bottom_padding_20px">

      <%= link_to 'Alphabetical', stories_path, class: "#{'active' if @active_button == 'alphabetical' } btn btn-default", role: "button" %>

      <div class="btn-group">
        <button type="button" class="<%= 'active' if @active_button == 'year' %> btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Year Written <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @years.each do |year| %>
          <li><%= link_to year, "/stories/sort?sort=year_written&year=#{year}", class: "btn btn-primary", role: "button" %></li>
          <% end %>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="<%= 'active' if @active_button == 'age' %> btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Age <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @ages.each do |age| %>
          <li><%= link_to age, "/stories/sort?sort=age&age=#{age}", class: "btn btn-primary", role: "button" %></li>
          <% end %>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="<%= 'active' if @active_button == 'decade' %> btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Decade <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @decades.each do |decade| %>
          <li><%= link_to decade, "/stories/sort?sort=decade&decade=#{decade}", class: "btn btn-primary", role: "button" %></li>
          <% end %>
        </ul>
      </div>

    </div>

    <% if @active_button != 'alphabetical' %>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-md-offset-3">
    <div class="alert alert-info" role="alert">
      <h6>There <%= @stories.count > 1 ? "are" : "is" %> <%= pluralize(@stories.count, "story") %> from that <%= @active_button %> </h6>
    </div>
    </div>
    </div>
    <% end  %>
    
    <div>
      <%= will_paginate @stories %>
    </div>

    <div class="row">
      <% @stories.each do |story| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="<%= asset_path(story.thumbnail) %>" alt="<%= story.id %>">
          <div class="caption">
            <h3><%= story.title.html_safe %></h3>
            <p> Age: <%= story.age %> </p>
            <p> Year Written: <%= story.year_written %> </p>
            <p> Decade: <%= story.decade %> </p>
            <p><%= truncate(story.content.html_safe, length: 125, omission: '...') %></p>
            <p><a href=" <%= story_path(story.id) %> " class="btn btn-primary" role="button">Read</a></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</section> 