<section id="blog_full">

  <!-- Flash Section -->
  <% if !flash.empty? %>
  <%= render 'shared/flash' %>
  <% end %>

  <div class="container text-center">

    <div class="btn-group buttonDropShadow">

      <%= link_to 'Alphabetical', stories_path, id: "alpha_button", class: "#{'active' if @active_button == 'alphabetical' } btn btn-default", role: "button" %>

      <div class="btn-group">
        <button type="button" id="year_button" class="<%= 'active' if @active_button == 'year' %> btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Year Written <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @years.each do |year| %>
          <li><%= link_to year, "/stories/sort?sort=year_written&year=#{year}", class: "btn", role: "button" %></li>
          <% end %>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" id="age_button" class="<%= 'active' if @active_button == 'age' %> btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Age <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @ages.each do |age| %>
          <li><%= link_to age, "/stories/sort?sort=age&age=#{age}", class: "btn", role: "button" %></li>
          <% end %>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" id="decade_button" class="<%= 'active' if @active_button == 'decade' %> btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Decade <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @decades.each do |decade| %>
          <li><%= link_to decade, "/stories/sort?sort=decade&decade=#{decade}", class: "btn", role: "button" %></li>
          <% end %>
        </ul>
      </div>

      <%= link_to 'Tag Cloud', tags_path, id: "tagAjax", class: "#{'active' if @active_button == 'tag' } btn btn-default", role: "button" %>

    </div>


    
    <%= render 'show_stories' %>



  </div>

</section> 