<% provide(:title, @story.title.html_safe) %>
<section id="show-blog">
  <div class="container">
    <!-- Flash Section -->
    <% if !flash.empty? %>
      <%= render 'shared/flash2' %>
    <% end %>
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center" id="blog-title">
          <h3 class="MajestiBannerBook"><%= @story.title.html_safe %></h3>
        </div>
        <hr class="colored" id="blogLine1">
        <div class="MajestiBannerBookPara">
          <% if !@story.recordings.empty? %>
          <div class="story-recordings text-center">
            <% @story.recordings.each do |recording| %>
                <div id="recording-id-<%= recording.id %>">
                <%= audio_tag (rails_blob_url recording.audio_file), controls: true %>
                <p><%= recording.caption %></p>
                </div>
            <% end %>
            </div>
          <% end %>
          <%= @story.content.html_safe %>
        </div>
      </div>
    </div>
    <div class="row">
      <% if !@story.comments.empty? %>
        <% @story.comments.each do |comment| %>
          <div class="col-lg-10 col-lg-offset-1">
            <br>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= comment.author.name %> says:
                  <span class="float-right"><%=time_ago_in_words(comment.created_at) %> ago</span>
                </h3>
              </div>
              <div class="panel-body">
                <%= comment.content %>
                <% if logged_in? && current_user.id == comment.author.id || logged_in? && current_user.admin? %>
                  <div class="float-right">
                    <%= link_to "Delete", comment, method: :delete, class: "btn btn-danger",
                                                      data: { confirm: "Are you sure you want to delete your comment?" } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="col-lg-10 col-lg-offset-1">
        <div class="text-center">
          <% if !logged_in? %>
            <%= link_to "Please log in to comment or record a reading of this story", login_path, class: "btn btn-default btn-lg buttonDropShadow", role: "button" %>
          <% else %>
            <%= form_for [@story, Comment.new] do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :story_id, value: @story.id %>
              <%= f.text_area :content, placeholder: "Type comment here...", class: "comment-area", cols: "100", rows: "5" %><br/>
              <%= f.submit "Submit Comment", class: "btn btn-default btn-lg buttonDropShadow", "data-toggle" => "tooltip", "title" => "Click to sumbit comment on this story" %>
            <% end %>
            <button id="show-recorder" data-toggle="tooltip" type="button" class="btn btn-default btn-lg buttonDropShadow" title="Click to record a reading of this story">Record Audio</button>
            <div id="audio-recorder">
              <div id="recording-buttons">
                <button id="start-audio-recorder" type="button" class="btn btn-success">Start Recording</button>
                <button id="stop-audio-recorder" type="button" class="btn btn-secondary" disabled>Stop Recording</button>
              </div>
              <%= form_for [@story, Recording.new] do |f| %>
              <%= f.hidden_field :story_id, value: @story.id %>
              <%= f.submit "Submit Current Recording", id: "submit-recording-button", class: "btn btn-default btn-lg buttonDropShadow", "data-toggle" => "tooltip", "title" => "Click to submit your audio recording"  %>
            <% end %>
            </div>
          <% end %>
        </div>
        <div class="text-center top-margin-1-percent">
          <% if logged_in? && current_user.admin? %>
            <%= link_to "Edit this story", edit_story_path(@story.id), class: "btn btn-default btn-lg buttonDropShadow", role: "button", "data-toggle" => "tooltip", "title" => "Click to edit this story"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
 
