<section id="pictures_full">

  <!-- Flash Section -->
  <% if !flash.empty? %>
  <%= render 'shared/flash' %>
  <% end %>

  <div class="container-fluid text-center">
    <div>
      <%= will_paginate @pictures %>
    </div>

    <div class="row">
    <% @pictures.each do |picture| %>
      <a href="<%= picture_path(picture.id) %>" class="blog_links">
      <div class="col-lg-4 wow fadeIn">
        <div class="thumbnail box-shadow">
          <%= image_tag(picture.url, alt: "Logo", class: "img-responsive center-picture") %>
          <div class="caption text-center"><h5><%= picture.caption %></h5>
          </div>
      </div>

    </div>
    </a>
      <% end %>
  </div>

  </div>

</section> 