<section id="picture_new">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 wow fadeIn">
            <%= form_for(@picture) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
                <%= f.hidden_field :user_id, value: current_user.id %>
              <div>
                <%= f.label :caption %>
                <%= f.trix_editor :caption, class: 'form-control' %>
              </div>
              <div class="picture">
                <%= f.label "Upload picture" %>
                <%= f.file_field :url %>
              </div>
              <br>
              <div>
                <%= f.submit "Upload Picture", class: "btn btn-primary" %>
              </div>
            <% end %>
            </div>
        </div>
    </div>
</section> 