<section id="show_picture">
  <div class="container-fluid">
    <!-- Flash Section -->
    <% if !flash.empty? %>
    <%= render 'shared/flash2' %>
    <% end %>
    <div class="text-center">

    </div>

    <div class="row">
      <div class="col-lg-12 wow fadeIn">
        <div>
          <%= image_tag(@picture.url, alt: "Logo", class: "img-responsive center-picture") %>
        </div>
        <% if logged_in? %>
        <div class="text-center" >
          <br>
          <%= form_for [@story, Comment.new] do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :picture_id, value: @picture.id %>
          <%= f.text_area :content, placeholder: "Add a comment" %><br/>
          <%= f.submit "Add Comment" %>
          <% end %>
        </div>
        <% end %>
        <% if !@picture.comments.empty? %>
        <% @picture.comments.each do |comment| %>
        <br>
        <div class="col-lg-8 col-lg-offset-2 wow fadeIn">
          <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title"><%= comment.author.name %> says:</h3>
            </div>
            <div class="panel-body">
              <%= comment.content %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </section> 