<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link href='https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Noto+Sans|Crimson+Text|Source+Serif+Pro|Varela' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
