<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= render 'layouts/fonts' %>
    <%= render 'layouts/icon' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/header' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%# TODO: Get rid of javascript_include_tag and use pack tag instead. (To switch from sprockets to webpacker) %>
    <%# <%= javascript_pack_tag 'application' %>
    <%= ga_script %>
    <%= ga_track %>
  </body>
</html>
