<!DOCTYPE html>
<html>
  <head>
    <%= ga_script %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/meta' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= render 'layouts/fonts' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/header' %>
  </head>
  <body>
      <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= ga_track %>
  </body>
</html>
