<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link href='https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Niconne|Noto+Sans|Crimson+Text|Source+Serif+Pro|Varela' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- Getting rid of container to make background image full screen -->
  <div class="container">
    <% flash.each do |message_type, message | %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <!--<%= debug(params) if Rails.env.development? %> -->
  </div>
</body>
</html>
